extends layout

block extraHeaders
    script(src='/javascripts/parallax.js')

block content
    section#abinition(data-speed='8', data-type='background')
        .container
          .row.vertical-align.abinition1
            .col-xs-4.abinitionimg
              img(src='/images/introart.png')  
            .col-xs-8.text-center
              h1 Factory automation with SECS/GEM and industry proven HyperScript

    section#software(data-speed='6', data-type='background')
        .container
          .row.vertical-align.software1
            .col-xs-12.text-center
                    h1 SECS/GEM needs a hero
                    h3 HS Scripting Language
                    | JSON and XML
                    br
                    | HTTP and SSL
                    br
                    | SQL
                    br
                    | cross-platform single-threaded scalable

    section#tools(data-speed='6', data-type='background')
        .container
          .row.vertical-align.tools1
            .col-xs-12.text-center
                  h1 Tools
                  | AMAT P5000 &#183; AMAT Centura &#183; AMAT Endura &#183; Amerimade &#183; Apex &#183; ASM &#183; CANON &#183; CDSEM &#183; DNS &#183; E500 &#183; EPI &#183; EV &#183; Focus &#183; Gasonic &#183; Semitool &#183; FSI &#183;     Varian &#183; KLA &#183; Inspex &#183; LAM &#183; Magnum &#183; MRC &#183; Mrk &#183; NanoSpec &#183; N&K &#183; Novellus &#183; Optiprobe &#183; Raider &#183; Semy &#183; SST &#183; UV &#183; Vision  &#183; Strasbaugh  &#183; Filmetrics  &#183; Ontrak

    section#connect(data-speed='4', data-type='background')
        .container
          .row.vertical-align.connect1
            .col-xs-12.text-center
                  h2 Wire your factory up in days, not years.
                  h4 Connect to your favorite SQL
                  h4 Connect to your MES (PROMIS&#0153)
                  h4 Connect to SAP&#0153
                  h4 Connect to web services

    section#download(data-speed='2', data-type='background')
        .container
          .row.vertical-align.download1
            .col-xs-12.text-center
                   h2 Fork HS on GitHub today
                   h3 Begin writing your own Factory Automation framework.
                   p or inquire about Outpost&#0153, TlogFeed&#0153, or TlogSAP&#0153 from Abinition&#0153
                   p
                    | Email
                    a(href='mailto:info@abinition.com?Subject=HS%20FA%20Solutions', target='_blank') info@abinition.com
                    br
                    | Fork GitHub
                    a(href='https://github.com/abinition/hs',target="_blank") HS
