body 
  font  14px "Source Sans Pro", "Lucida Grande", Helvetica, Arial, sans-serif;

.navbar-default
  background-color #A9A5A5
  border-color #A9A5A5
 .navbar-nav > li > a
            color #fff !important
            letter-spacing .07em
.btn-success
  background-color #54A9E5
  border-color #54A9E5

a 
  color  #00b7ff;
  height  100%;

.full-page 
  height  100%;

.vertical-align
  display flex
  //display inline
  vertical-align middle
  align-items center


/* For full page height stretch */
html,
body,
section,
.container 
  height  100%;

img#heroImg 
  width  400px;
  height  auto;

#abinition 
  height  100%;
  width  100%;
  margin  0 auto;
  position  relative;
  padding-top 6%
  .abinitionimg
    padding 5px
  .h1
    color #435573

#software 
  background-image  url("/images/wafer-process.jpg");
  background-position  center center;
  background-repeat  no-repeat;
  background-attachment  fixed;
  background-size  cover;
  width  100%;
  height  100%;
  margin  0 auto;
  position  relative;
  box-shadow  0 0 50px rgba(0,0,0,0.8);
  padding  100px 0 100px;
  color  #fff;
  .software1
    display block

#tools 
  background-image  url("/images/die.jpg");
  background-position  center center;
  background-repeat  no-repeat;
  background-attachment  fixed;
  background-size  cover;
  height  100%;
  width  100%;
  margin  0 auto;
  position  relative;
  box-shadow  0 0 50px rgba(0,0,0,0.8);
  padding  100px 0 100px;
  color  #fff;
  .tools1
    display block

#connect 
  background-image  url("/images/connector.jpg");
  background-position  center center;
  background-repeat  repeat;
  background-attachment  fixed;
  background-size  cover;
  height  100%;
  margin  0 auto;
  width  100%;
  font  20px 'Source Sans Pro', sans-serif;
  position  relative;
  padding  100px 0 100px;
  box-shadow  0 0 50px rgba(0,0,0,0.8);
  .connect1
    display block

#download 
  background-image  url("/images/world-dots.png");
  background-position  center center;
  background-repeat  repeat;
  background-attachment  fixed;
  height  100%;
  margin  0 auto;
  width  100%;
  font  20px 'Source Sans Pro', sans-serif;
  color  red;
  positipage4on  relative;
  padding  100px 0 100px;
  .download1
    display block

